/*PC*/
@media ( min-width : 1024px){
   
}
/* TABLET VÀ MOBILE*/
@media ( max-width :1023px){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    .contact-infor{
        line-height: 2;
    }
}

/*TABLET*/
@media (min-width : 740px) and ( max-width : 1023px){
    
}
/*MOBILE*/
@media ( max-width : 739px){    
    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }
    #header{
        overflow: hidden;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #nav .subnav{
        position: initial;/*trên mobile không cần position absolute nên để nó mawcj định và nó sẽ hiện thêm element con*/
        background-color: #333;
       
    }
    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }
    
    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 32px;
    }
    .contact-email{
        margin-top: 8px;
    }
    .place-buy-btn{
        text-align: center;
    }
}
